@use "../../styles/variables.module.scss" as *;

.taberBesked {
  background-color: $clr-x-dark-burgundy-by-marie-pierre-lessard;
  border: 2px solid $clr-reddish-orange-by-marie-pierre-lessard;
  color: $clr-white-by-marie-pierre-lessard;
  padding: $size-base-by-marie-pierre-lessard;
  border-radius: 8px;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
  max-width: 90%; // Fit within card container
  box-shadow: 0 4px 8px $clr-black-w-alpha-by-marie-pierre-lessard;

  h2 {
    margin: 0 0 0.5rem;
    color: $clr-reddish-orange-by-marie-pierre-lessard;
    font-size: 1.3rem; // Smaller for card overlay
  }

  p {
    margin: 0;
    font-size: 0.9rem; // Smaller for card overlay
    font-weight: bold;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
