/* TO DO 
Palette checked with Adobe Accessibility Tools at https: //color.adobe.com/create/color-contrast-analyzer
Results:
- Dark burgundy is fine as background colour with reddish-orange text
- Reddish orange is fine as background colour with dark-burgundy text
Since these two colours are analogous (next to each other on the colour wheel, 
a touch of green would bring contrast to the colour scheme (a split-complementary palette).
Source for colour-palette names: https: //www.youtube.com/watch?v=LO30zFqpj-c

Farvepaletten kommer til at bruge:
Dark burgundy: #3b0d0d
Reddish orange: #ff4d4d

$clr-

*/

@use "sass:math";

/* SIZES */

/* Explanation to team members (ideas behind choice of sizes) 
Mobile-first: 
On mobiles, the oldest ancestor (container for the whole game) has to have some padding in our prototype, 
or text will touch the edges of the screen. 
Basic margin of $size-base-by-marie-pierre-lessard was used for that. 
*/
$size-base-by-marie-pierre-lessard: 1rem;
$size-third-base-by-marie-pierre-lessard: $size-base-by-marie-pierre-lessard * 0.333;
$size-half-base-by-marie-pierre-lessard: $size-base-by-marie-pierre-lessard * 0.5;
$size-thirdx2-base-by-marie-pierre-lessard: $size-base-by-marie-pierre-lessard * 0.666;
$size-three-quarters-base-by-marie-pierre-lessard: $size-base-by-marie-pierre-lessard * 0.75;

$size-gr-by-marie-pierre-lessard: 1.618rem;
$size-third-gr-by-marie-pierre-lessard: $size-gr-by-marie-pierre-lessard * 0.333;
$size-half-gr-by-marie-pierre-lessard: $size-gr-by-marie-pierre-lessard * 0.5;
$size-thirdx2-gr-by-marie-pierre-lessard: $size-gr-by-marie-pierre-lessard * 0.666;
$size-three-quarters-gr-by-marie-pierre-lessard: $size-gr-by-marie-pierre-lessard * 0.75;
$size-gr-squared-by-marie-pierre-lessard: math.pow(1.618, 2) * 1rem;
$size-gr-cubed-by-marie-pierre-lessard: math.pow(1.618, 3) * 1rem;

$size-wrapper-by-marie-pierre-lessard: 1300px;

