/* For testing purposes (image component; test successful) 
.test {
    width: 100px;
    height: 100px;
}
*/

.App {
    max-width: $size-wrapper-by-marie-pierre-lessard;
    margin-inline: auto;
    margin-block: $size-base-by-marie-pierre-lessard;

    /* Work in progress */
    // div:nth-of-type(1) {
    //     background-color: #3b0d0d;
    // }
    // div:nth-of-type(2) {
    //     background-color: #ff4d4d;
    // }
    // div:nth-of-type(3) {
    //     background-color: green;
    // }
}
